.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}



.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.staff-section{
	padding: 0 2rem;
}

.home-blog{
	margin-bottom: 1rem;
}

.home-blog-article{
	position: relative;
	margin: 0 auto 1em;
	max-width: 300px;
}

.home-blog h3{
	position: absolute;
	background-color: rgba(255,255,255,.8);
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 1rem;
	margin: 0;
	max-width: 300px;
}

.schedule{
	margin: 0;
	padding: 0;
}

.schedule tr{
	background-color: #eee;
}
.schedule tbody tr:nth-of-type(even){
	background-color: white;
}

.page-id-94{
	height: 100vh;
}

.student-item img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}

@media(min-width: 340px){
	.student-item img{
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
}

@media (min-width: 600px){
	.staff-content{
		width: 48%;
		margin: 0;
	}
	
	.staff-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.students{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.student-item img{
		display: block;
		float: none;
	}

	.single-school-student .wp-post-image{
		display: inline;
		float: right;
		margin-left: 1.5em;
		margin-bottom: 0;
	}
	.schedule tr td{
		padding: 1rem;
	}
}

@media (min-width: 800px){
	.home-blog{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.home-blog h2,
	.home-blog a{
		width: 100%;
	}
}

@media(min-width: 900px){
	.students{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
}
