.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.staff-section{
	padding: 0 2rem;
}

@media (min-width: 600px){
	.staff-content{
		width: 48%;
		margin: 0;
	}
	
	.staff-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}