button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	
	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-search__button{
	background: #305c9f;
	color: white;
	padding: 1rem;
	line-height: 1;
	width: 100%;
	margin: 0;
}