.site,
.page-id-78 .site{
	display: grid;
	overflow: hidden;
	margin: 0 auto;
	max-width: 2200px;
	grid-template-columns: 1fr minmax(0, 1000px) 1fr;
	grid-template-areas:
		"header header header"
		". main ."
		". sidebar ."
		"footer footer footer";
}
.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	margin-top: 55px;
	margin-bottom: 2rem;
	padding: 0 1rem;
	min-height: calc(100vh - 211px);
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

